@import url('./styles/key_input.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  
  background-color: #dc9b9b;
  color: white;
  .screen-cover {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .btn {
    // position: absolute;
    // left: 50%;
    // top: 30%;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    // margin-left: -100px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    transition: opacity 1000ms ease-out;
    z-index: 20;
    
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 1);
    }
  }
  
  .instructions-btn {
    // top: 40%;

  }

  .instructions {
    width: 500px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 22;
    .close-btn {
      position: absolute;
      right: 0;
      top: 10px;
      cursor: pointer;
    }
  }
}
// .container {
//   padding-top: 80px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
  
// }
h1 {
  font-weight: 400;
  text-align: center;
  color: white;
}
// .test {
//   display: none;
// }
#gameCanvas {
  // border-radius: 20px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 1500ms ease-out;
}

.btns-container {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  .socials {
    .github {
      margin-right: 5px;
    }
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      z-index: 22;
  }
}

.hide {
  // transition: opacity 1500ms ease-out;
  // opacity: 0;
  display: none !important;
}

@keyframes error-shake {
  0% {
    transform: scale(1);
    
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    
  }
}
.error {
  color: red !important;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  animation: error-shake 300ms ease-in-out;
}
.hide {
  display: none;
}
